extends query_form_with_results

append js_custom
  != keywords_assets.js('/keywords')

append css_custom
  != keywords_assets.css('/keywords')

block query_form
  h1.page-title Keywords
  form.form(data-persist="garlic")
    .control-group.warning
      label.control-label(for="inputLetters") Words A
      .controls
        textarea.wordsa(rows=5, placeholder="words")
        span.help-inline One word per line
    .control-group
      label.control-label(for="inputLetters") Separator A-B
      .controls
        select.separatora(multiple)
          option(disabled) -- Separator --
          option(value="", selected) ""
          option(value="-") "-"
    .control-group
      label.control-label(for="inputLetters") Words B
      .controls
        textarea.wordsb(rows=5, placeholder="words")
        span.help-inline One word per line
    .control-group
      label.control-label(for="inputLetters") Separator B-C
      .controls
        select.separatorb(multiple)
          option(disabled) -- Separator --
          option(value="", selected) ""
          option(value="-") "-"
    .control-group
      label.control-label(for="inputLetters") Words C
      .controls
        textarea.wordsc(rows=5, placeholder="words")
        span.help-inline One word per line
    .control-group
      label.control-label(for="inputLetters") Tlds
      .controls
        select.tlds(multiple)
          option(disabled) -- Tlds --
          for opt, tld in tlds
            if opt
              option(value=tld, selected) ".#{tld}"
            else
              option(value=tld) ".#{tld}"
    .form-actions
      input.btn.btn-primary(type="submit", value="Go")
